@tailwind base;
@tailwind components;
@tailwind utilities;

.image-bordure {
  margin-right: 40px;
  background-image: url("./img/image-removebg-preview_2.png");
  margin-left: 40px;
  background-size: cover; /* Pour éviter la répétition et couvrir toute la surface de la div */
  background-position: center; /* Pour centrer l'image horizontalement et verticalement */
  height: 236px;
  width: 236px;
  display: flex; /* Pour aligner l'image au centre de la div */
  justify-content: center; /* Pour centrer horizontalement */
  align-items: center; /* Pour centrer verticalement */
}
.photomg {
  height: 200px;
  width: 200px;
}
.photo {
  z-index: -10;
  display: flex;
  height: 109%;
  width: 84%;
  align-items: center;
  justify-content: center;
}
.photo img {
  border-radius: 55%;
  width: 80%;
  height: 80%;
}
.dflexresize {
  align-items: center;
  justify-content: center;
  left: 0px;
  top: 0px;
  position: absolute;
  flex-wrap: wrap;
  display: flex;
  width: 100vw;
  height: 50vh;
  margin-top: 10px;
}
.reglageimg {
  width: 15vw;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.paddingto {
  padding-top: 50vh;
}
.audio-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
